* {
	box-sizing: border-box;
}

h1 {
	font-family: serif;
	color: black;
	text-align: center;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
  	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
}
section {
	background-color: lightgrey;
	width: 100%;
  	border: 1px solid black;
	color: black;
	position: relative;
	overflow: auto;
}

#Chicken {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: lightpink;
  	color: black;
}

#Beef {
  padding: 5px;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  margin-bottom: 0;
  margin-top: 0;
  border: 1px solid black;
  background-color: darkred;
  color: white;
}

#Sushi {
  padding: 5px;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  margin-bottom: 0;
  margin-top: 0;
  border: 1px solid black;
  background-color: lightyellow;
  color: black;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 3em;
  border: 0 0 10px 10px;
  color: white;
}

#header-nav {
  border: 0;
  background-color: lightgrey;
  color: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid red;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: white;
}

.nav-brand {
  color: white;
  font-size: 5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 5em;
}
